## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg

## PROJECT::SPECIFIC
spec/support/output
spec/support/public/stylesheets/base.css
spec/tmp-generator/

## BUNDLER
bin/*
vendor/gems/environment.rb
vendor/gems/ruby/1.8/*
!vendor/gems/ruby/1.8/cache/
vendor/gems/ruby/1.9.1/*
!vendor/gems/ruby/1.9.1/cache/
vendor/gems/ruby/jruby/*
!vendor/gems/ruby/jruby/cache/
config/build_options.yml
lib/bonsai/templates/public/css/base.css