<head>
  <meta charset=UTF-8>
  <title>{{headline}} | {{site_name}}</title>
  <link rel="stylesheet" href="/css/base.css" type="text/css">
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>