DirectoryIndex index.html
FileETag All
ErrorDocument 404 /404

# Compress all static assets
<IfModule mod_deflate.c>
	# compress content with type html, text, and css
  AddOutputFilterByType DEFLATE text/css text/html text/javascript application/javascript application/x-javascript text/js text/plain text/xml

	<IfModule mod_headers.c>
		# properly handle requests coming from behind proxies
		Header append Vary User-Agent
	</IfModule>
</IfModule>

# Cache, aggressively 
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 2 years"

  # Do not cache dynamically generated pages.
  ExpiresByType text/html "access plus 10 minutes"
</IfModule>
