Hello from our template, named {{name}}

{{page_title}}

{{#images}}
  {{path}}
{{/images}}

{{#children}}
  {{permalink}}
{{/children}}

{{#magic}}
  {{path}}
{{/magic}}

{{>partials/inserted}}

{{{body}}}