<!DOCTYPE html>
<html lang="en">
  {{> shared/head}}
  <body id="{{slug}}" class="default">
    <section id="wrapper">
      {{> shared/header}}
      {{{body}}}
      {{> shared/footer}}
    </section>
    {{> shared/analytics }}
  </body>
</html>
