<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{name}}</title>
    <link rel="stylesheet" href="/css/base.css" type="text/css">
  </head>
  <body id="{{slug}}" class="default">
    <header>
      <h1>{{headline}}</h1>
      {{{body}}}
    </header>
  </body>
</html>
